:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

  .container {
  position: relative;
  width: 700px;
  height: 600px;
  background-color: black;
  border: 1px solid #bbb;
  border-top: none;
  border-right: none;
  margin-top: 100px;
  }
  .v-meter {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 500px;
  }
  .v-meter li {
  position: relative;
  height: 100px;
  border-right: 1px solid #1785a7;
  text-align: right;
  line-height: 100px;
  color: #fff;
  }
  
  .bar {
  position: absolute;
  width: 50px;
  background-color: #328036;
  bottom: 0;
  }
  .bar.one {
  left: 100px;
  height: 200px;
  }
  .bar.two {
  left: 200px;
  height: 400px;
  }
  .bar.three {
  left: 300px;
  height: 100px;
  }
  .axis-label {
  position: absolute;
  color: #fff;
  font-size: 20px;
  }
  .x-label {
  bottom: -30px;
  left: 250px;
  }
  .y-label {
  top: 50%;
  left: -70px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  }
  .bar-label {
  position: absolute;
  color: #fff;
  font-size: 16px;
  
  }
  .label-one {
  top: 550px;
  left: 100px;
  }
  .label-two {
  top: 550px;
  left: 200px;
  }
  .label-three {
  top: 550px;
  left: 300px;
  }

  